<div class="content-main-table">
    <div class="content-main-row">
        <div class="content-main-row-left">
            menu
        </div>
        <div class="content-main-row-right">
            <div class="content-rental-table">
                <div class="content-rental-row">
                    <div class="content-rental-row-left">
                        <div>
                            <boats></boats>
                        </div>
                        <div>
                            <commitments></commitments>
                        </div>
                        <div>
                            <promotionsBefore></promotionsBefore>
                        </div>
                    </div>
                    <div class="content-rental-row-right">
                        stats
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<info>Info: </info>
