<div class="header header-main">
    Abrechnungssystem Bootsvermietung EPPEL
</div>
<div class="content-main-table">
    <div class="content-main-row">
        <div class="content-main-row-left">
            <mainmenu></mainmenu>
        </div>
        <div class="content-main-row-right">
            <div class="content-rental-table">
                <div class="content-rental-row">
                    <div class="content-rental-row-left">
                        <!--<div>-->
                            <!--<boats></boats>-->
                        <!--</div>-->
                        <div class="content-boat-table">
                            <div class="content-boat-row">
                                <div class="content-boat-row-left">
                                    <div>
                                        <boats></boats>
                                    </div>
                                </div>
                                <div class="content-boat-row-right">
                                    <div>
                                        <boatCount></boatCount>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content-commitment-promotion-table">
                            <div class="content-commitment-promotion-row">
                                <div class="content-commitment-promotion-row-left">
                                    <div>
                                        <commitments></commitments>
                                    </div>
                                </div>
                                <div class="content-commitment-promotion-row-right">
                                    <div>
                                        <promotionsBefore></promotionsBefore>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content-rental-row-right">
                        <div class="content-boat-count">
                            <statistik></statistik>
                        </div>
                        <div class="content-action">
                            <action></action>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<info></info>
