.boatCount-header {
    background-color: #F3F781;
}

.nextNumber {
    font-size: 1.8em;
    padding: 0 0 0 0.3em;
    background-color: #F3F781;
}

.boatCount {
    font-size: 1.8em;
}

.boatCount li {
    cursor: auto;
    background: linear-gradient(to right, #F3F781, white);
}

li:hover {
    background: linear-gradient(to right, #F3F781, white) !important;
}