.commitments-header {
    background-color: #F5D0A9;
}

.selected {
    color: white;
    background: #FF7800 !important;
}

.commitments li {
    background: linear-gradient(to right, #F5D0A9, white);
}