.promotionsBefore-header {
    background-color: #BCF5A9;
}

.promotionsBefore-container {
    padding: 0 0 0 1em;
}

.selected {
    color: white;
    background: #31B404 !important;
}

.promotionsBefore li {
    background: linear-gradient(to right, #BCF5A9, white);
}

.enabled {

}

.disabled {
    color: grey;
}