<div class="container">
    <div class="container-header">
        <div class="header header-main">
            Registrierkassa Buffet EPPEL
        </div>
        <div class="container-menu">
            <mainmenu></mainmenu>
        </div>
        <div class="container-sale" *ngIf="mode === 'REGKAS'">
            <div class="container-sale-products_and_actions">
                <div class="container-sale-products">
                    <products></products>
                </div>
                <div class="container-sale-actions">
                    <actions></actions>
                </div>
            </div>
            <div class="container-sale-receipt_and_numbers">
                <div class="container-sale-receipt">
                    <receipt></receipt>
                </div>
                <div class="container-sale-numbers">
                    <numbers></numbers>
                </div>
            </div>
        </div>
        <div class="container-stats" *ngIf="mode === 'STATS'">
            <stats></stats>
        </div>
        <div class="container-config" *ngIf="mode === 'CONFIG'">
            <config></config>
        </div>
        <div class="container-signatureDevice">
            <signatureDevice></signatureDevice>
        </div>
        <div class="container-info">
            <info></info>
        </div>
        <div class="container-version">
            <version></version>
        </div>
    </div>
</div>