<div class="menu-container">
    <img src="http://www.eppel-boote.at/regkas/images/menu/regkas_100x100.png" class="menu-item" title="Produkte verkaufen" (click)="modeRegkas()"/>
    <img src="http://www.eppel-boote.at/regkas/images/menu/stats_100x100.png" class="menu-item" title="Statistiken" (click)="modeStats()"/>
    <img src="http://www.eppel-boote.at/regkas/images/menu/config_100x100.png" class="menu-item" title="Konfiguration" (click)="modeConfig()"/>
    <img src="http://www.eppel-boote.at/regkas/images/menu/reload_100x100.png" class="menu-item" title="neu laden" (click)="reload()"/>
    <img src="http://www.eppel-boote.at/regkas/images/menu/close_100x100.png" class="menu-item" title="schließen" (click)="close()"/>
</div>
