<div class="container-numbers">
    <div>
        <button class="button button-number" (click)="numberClick(7)">7</button>
        <button class="button button-number" (click)="numberClick(8)">8</button>
        <button class="button button-number" (click)="numberClick(9)">9</button>
        <button class="button button-number" (click)="numberClick(4)">4</button>
        <button class="button button-number" (click)="numberClick(5)">5</button>
        <button class="button button-number" (click)="numberClick(6)">6</button>
        <button class="button button-number" (click)="numberClick(1)">1</button>
        <button class="button button-number" (click)="numberClick(2)">2</button>
        <button class="button button-number" (click)="numberClick(3)">3</button>
        <button class="button button-cancel button-delete-number" (click)="numberClick('<')">&lt;</button>
        <button class="button button-number" (click)="numberClick(0)">0</button>
        <button class="button button-number" (click)="numberClick('.')">.</button>
    </div>
    <div class="container-width-30-percent">
        <span class="input-text">Eingabe: </span>
    </div>
    <div>
        <input class="input input-number" [ngModel]="getNumberInput()" placeholder="Zahl"/>
        <button class="button button-cancel button-delete-number" (click)="deleteNumberInput()">L&ouml;schen</button>
    </div>
</div>
