<div class="menu-container">
    <img src="http://www.eppel-boote.at/boatpos/images/menu/rental_100x100.png" class="menu-item" title="Boote vermieten" (click)="modeRental()"/>
    <img src="http://www.eppel-boote.at/boatpos/images/menu/rentals_100x100.png" class="menu-item" title="alle vermieteten Boote" (click)="modeRentals()"/>
    <img src="http://www.eppel-boote.at/boatpos/images/menu/statistic_100x100.png" class="menu-item" title="Statistiken" (click)="modeStats()"/>
    <img src="http://www.eppel-boote.at/boatpos/images/menu/config_100x100.png" class="menu-item" title="Konfiguration" (click)="modeConfig()"/>
    <img src="http://www.eppel-boote.at/boatpos/images/menu/reload_100x100.png" class="menu-item" title="neu laden" (click)="reload()"/>
    <img src="http://www.eppel-boote.at/boatpos/images/menu/close_100x100.png" class="menu-item" title="schließen" (click)="close()"/>
</div>
