<div class="container-default stats-container">
    <h2 class="header stats-header">Statistiken</h2>
    <div class="container-default income-container">
        <h2 class="header income-header">Einnahmen</h2>
        <select [ngModel]="datePickerIncome.getCurrentDay()" (ngModelChange)="dayIncomeChange($event)">
            <option *ngFor="#day of datePickerIncome.getDays()">{{day}}</option>
        </select>
        <select [ngModel]="datePickerIncome.getCurrentMonthAsString()" (ngModelChange)="monthIncomeChange($event)">
            <option *ngFor="#month of datePickerIncome.getMonthsAsString()">{{month}}</option>
        </select>
        <select [ngModel]="datePickerIncome.getCurrentYear()" (ngModelChange)="yearIncomeChange($event)">
            <option *ngFor="#year of datePickerIncome.getYears()">{{year}}</option>
        </select>
        <button class="buttonSmall button-cancel" (click)="datePickerIncome.reset()">Zur&uuml;cksetzen</button>
        <br/>
        <button class="buttonSmall button-ok" (click)="incomeDay()">Tag</button>
        <button class="buttonSmall button-ok" (click)="incomeMonth()">Monat</button>
        <button class="buttonSmall button-ok" (click)="incomeYear()">Jahr</button>
    </div>
    <div class="container-default dep-container">
        <h2 class="header dep-header">DatenErfassungsProtokoll</h2>
        <select [ngModel]="datePickerDep.getCurrentDay()" (ngModelChange)="dayDepChange($event)">
            <option *ngFor="#day of datePickerDep.getDays()">{{day}}</option>
        </select>
        <select [ngModel]="datePickerDep.getCurrentMonthAsString()" (ngModelChange)="monthDepChange($event)">
            <option *ngFor="#month of datePickerDep.getMonthsAsString()">{{month}}</option>
        </select>
        <select [ngModel]="datePickerDep.getCurrentYear()" (ngModelChange)="yearDepChange($event)">
            <option *ngFor="#year of datePickerDep.getYears()">{{year}}</option>
        </select>
        <button class="buttonSmall button-cancel" (click)="datePickerDep.reset()">Zur&uuml;cksetzen</button>
        <br/>
        <button class="buttonSmall button-ok" (click)="depDay()">Tag</button>
        <button class="buttonSmall button-ok" (click)="depMonth()">Monat</button>
        <button class="buttonSmall button-ok" (click)="depYear()">Jahr</button>
        <button class="buttonSmall button-ok" (click)="depRKSV()">RKSV</button>
    </div>
    <div class="container-default startbeleg-container">
        <h2 class="header startbeleg-header">Start-Beleg</h2>
        <div *ngIf="startbelegMustBePrinted === true">
            <button class="buttonSmall button-ok" (click)="printStartbeleg()">Startbeleg drucken</button>
        </div>
        <div *ngIf="startbelegMustBePrinted === false">
            <p>Starbeleg wurde bereits gedruckt.</p>
        </div>
    </div>
    <div class="container-default nullbeleg-container">
        <h2 class="header nullbeleg-header">Null-Beleg</h2>
        <button class="buttonSmall button-ok" (click)="printNullBeleg()">Nullbeleg drucken</button>
    </div>
    <div class="container-default abschlussbeleg-container">
        <h2 class="header abschlussbeleg-header">Abschluss-Belege</h2>
        <button class="buttonSmall button-ok" (click)="printTagesBeleg()">Tag</button>
        <button class="buttonSmall button-ok" (click)="printMonatsBeleg()">Monat</button>
        <button class="buttonSmall button-ok" (click)="printJahresBeleg()">Jahr</button>
    </div>
</div>
