/**
 * div: main-header
 */
.header-main {
    font-size: 1.8em;
    font-weight: bold;
    text-align: center;
    display: table;
    width: 100%;
    padding: 0.2em 0 0.2em 0;
    margin: 0.5em 0 0.5em 0;
    border-radius: 20px 20px 20px 20px;
    border: 3px solid #000000;
    background-color: #0101DF;
    color: #FFFFFF;
}

/*
 * divs: content-main
 */
.content-main-table {
    display: table;
    width: 100%;
    border: 0 solid black;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
.content-main-row {
    display: table-row;
    width: 100%;
    border: 0 solid black;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
.content-main-row-left {
    display: table-cell;
    width: 5%;
    border: 0 solid black;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
.content-main-row-right {
    display: table-cell;
    width: 95%;
    border: 0 solid black;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

/*
 * divs: content-rental
 */
.content-rental-table {
    display: table;
    width: 100%;
    border: 0 solid black;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
.content-rental-row {
    display: table-row;
    width: 100%;
    border: 0 solid black;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
.content-rental-row-left {
    display: table-cell;
    width: 70%;
    border: 0 solid black;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
.content-rental-row-right {
    display: table-cell;
    width: 30%;
    border: 0 solid black;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

/*
 * divs: content-commitment-promotion
 */
.content-commitment-promotion-table {
    display: table;
    width: 100%;
    border: 0 solid black;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
.content-commitment-promotion-row {
    display: table-row;
    width: 100%;
    border: 0 solid black;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
.content-commitment-promotion-row-left {
    display: table-cell;
    width: 50%;
    border: 0 solid black;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
.content-commitment-promotion-row-right {
    display: table-cell;
    width: 50%;
    border: 0 solid black;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}