.boatCount-header {
    background-color: #F3F781;
}

.boatCount li {
    cursor: auto;
    background: linear-gradient(to right, #F3F781, white);
    padding: 0 0 0 1.5em;
}

li:hover {
    background: linear-gradient(to right, #F3F781, white) !important;
}

.max {
    color: red;
}