.commitments-header {
    background-color: #F5D0A9;
}

.selected {
    color: white;
    background: #FF7800 !important;
}

.commitments li {
    background: linear-gradient(to right, #F5D0A9, white);
}

.commitments .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 1.0em 0.5em 0 1.0em;
    background-color: transparent;
    height: 3.9em;
    margin-right: 1.0em;
    border-radius: 20px 0 0 20px;
}
