.action-header {
    background-color: #ff5050;
}

.action-container {
    background-color: white;
    padding: 1em 0 0 1em;
    margin: 0 0 0 0;
}

.input-rental-number {
    font-size: 7em;
    font-weight: 900;
}

.button:hover {
    cursor: pointer;
}

.button-info {
    width: 49%;
}

.button-info:hover {
    width: 49%;
}
