.boatCount-header {
    background-color: #F3F781;
}

.nextNumber {
    text-align: left;
    padding: 0 0 0 1.5em;
    background-color: #F3F781;
}

li:hover {
    background: linear-gradient(to right, #F3F781, white) !important;
}