.container-numbers {
    text-align: center;
}

.button-number {
    font-size: 2.5em;
    width: 30%;
    color: black;
    background-color: lightgrey;
}

.button-number:hover {
    color: white;
    background-color: darkgrey;
}

.input-number {
    width: 30%;
    font-size: 2.5em;
}

.container-width-30-percent {
    float: left;
    width: 30%;
}

.input-text {
    font-size: 2.5em;
}

.button-delete-number {
    width: 30%;
    font-size: 2.5em;
}
