<div class="container-numbers">
    <input class="input input-number" [ngModel]="getNumberInput()" placeholder="Eingabe"/>
    <button class="button button-number" (click)="numberClick(7)">7</button>
    <button class="button button-number" (click)="numberClick(8)">8</button>
    <button class="button button-number" (click)="numberClick(9)">9</button>
    <button class="button button-number" (click)="numberClick(4)">4</button>
    <button class="button button-number" (click)="numberClick(5)">5</button>
    <button class="button button-number" (click)="numberClick(6)">6</button>
    <button class="button button-number" (click)="numberClick(1)">1</button>
    <button class="button button-number" (click)="numberClick(2)">2</button>
    <button class="button button-number" (click)="numberClick(3)">3</button>
    <button class="button button-number" (click)="numberClick('<')">&lt;</button>
    <button class="button button-number" (click)="numberClick(0)">0</button>
    <button class="button button-number" (click)="numberClick('.')">.</button>
</div>
