<div class="default-container promotionsBefore-container">
    <h2 class="header promotionsBefore-header">Aktionen</h2>
    <ul class="list promotionsBefore">
        <li *ngFor="#promotionBefore of getPromotionsBefore()"
            [class.selected]="promotionBefore.selected"
            (click)="click(promotionBefore)">
            <span class="badge"><img src="{{promotionBefore.pictureUrlThumb}}" height="60px"></span> <span [ngClass]="promotionBefore.style">{{promotionBefore.name}}</span>
        </li>
    </ul>
</div>
