<div class="container-default stats-container">
    <!--h2 class="header stats-header">Statistiken</h2-->
    <div class="container-default income-container">
        <h2 class="header income-header">Einnahmen</h2>
        <select [ngModel]="datePickerIncome.getCurrentDay()" (ngModelChange)="dayIncomeChange($event)">
            <option *ngFor="#day of datePickerIncome.getDays()">{{day}}</option>
        </select>
        <select [ngModel]="datePickerIncome.getCurrentMonthAsString()" (ngModelChange)="monthIncomeChange($event)">
            <option *ngFor="#month of datePickerIncome.getMonthsAsString()">{{month}}</option>
        </select>
        <select [ngModel]="datePickerIncome.getCurrentYear()" (ngModelChange)="yearIncomeChange($event)">
            <option *ngFor="#year of datePickerIncome.getYears()">{{year}}</option>
        </select>
        <!--button class="buttonSmall button-cancel" (click)="datePickerIncome.reset()">Zur&uuml;cksetzen</button-->
        <!--br/-->
        <button class="buttonSmall button-ok" (click)="incomeDay()">Tag</button>
        <button class="buttonSmall button-ok" (click)="incomeMonth()">Monat</button>
        <button class="buttonSmall button-ok" (click)="incomeYear()">Jahr</button>
    </div>
    <div class="container-default dep-container">
        <h2 class="header dep-header">DatenErfassungsProtokoll</h2>
        <button class="buttonSmall button-ok" (click)="depRKV2012()">RKV 2012</button>
        <button class="buttonSmall button-ok" (click)="depRKSV2017()">RKSV 2017</button>
    </div>
    <div class="container-default startbeleg-container">
        <h2 class="header startbeleg-header">Start-/Schluss-Beleg</h2>
        <div *ngIf="startbelegMustBePrinted === true">
            <button class="buttonSmall button-ok" (click)="printStartBeleg()">StartBeleg drucken</button>
        </div>
        <div *ngIf="startbelegMustBePrinted === false">
            <p>Startbeleg wurde bereits gedruckt.</p>
            <button class="buttonSmall button-ok" (click)="printSchlussBeleg()">Registrierkasse abschließen</button>
        </div>
    </div>
    <div class="container-default nullbeleg-container">
        <h2 class="header nullbeleg-header">Null-Beleg</h2>
        <button class="buttonSmall button-ok" (click)="printNullBeleg()">NullBeleg</button>
    </div>
    <div class="container-default abschlussbeleg-container">
        <h2 class="header abschlussbeleg-header">Abschluss-Belege</h2>
        <button class="buttonSmall button-ok" (click)="printTagesBeleg()">Tag</button>
        <button class="buttonSmall button-ok" (click)="printMonatsBeleg()">Monat</button>
        <button class="buttonSmall button-ok" (click)="printJahresBeleg()">Jahr</button>
    </div>
    <div class="container-default receipt-container">
        <h2 class="header receipt-header">Rechnung drucken</h2>
        <input class="input input-receipt-id" [(ngModel)]="receiptId" placeholder="Rechnungsnummer"/>
        <button class="buttonSmall button-ok" (click)="printReceipt()">Drucken</button>
        <button class="buttonSmall button-cancel" (click)="deleteReceiptId()">Zur&uuml;cksetzen</button>
    </div>
</div>
